        <header class="header-01 inner-header fix-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a asp-action="Index">
                                <img src="~/assets/images/logo.png" alt="UITPro"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="mainmenu mobile-menu">
                            <div class="mobile-btn">
                                <a href="javascript: void(0);"><span>Menu</span><i class="twi-bars"></i></a>
                            </div>
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a asp-action="Laptop">Laptop</a></li>
                                        <li><a >Màn hình</a></li>
                                        <li><a asp-action="PC">PC</a></li>
                                        <li><a >Thiết bị ngoại vi</a></li>
                                        <li><a >Linh kiện</a></li>
                                        <li><a >Âm thanh</a></li>
                                        <li><a >Bàn nâng hạ</a></li>
                                        <li><a >Ghế công thái học</a></li>
                                        <li><a >Máy chơi game</a></li>
                                        <li><a >Balo, Túi</a></li>
                                    </ul>
                                </li>
                                <li class="menu_top">
                                    <a asp-action="Service">Dịch Vụ</a>
                                </li>
                                <li class="menu_top">
                                    <a asp-action="About">Về chúng tôi</a>
                                </li>
                                <li><a asp-action="Contact">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="header-cogs">
                            <a class="search search-toggles" href="javascript:void(0);"><i class="twi-search"></i></a>
                            <a class="user-login" href="javascript:void(0);"><i class="twi-user-circle"></i><span>Tài khoản</span></a>
                            <a class="carts" asp-action="Cart"><span>4</span><img src="~/assets/images/cart.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
