
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- Banner Start -->
        <section class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="round-shape"></span>
                        <h2 class="banner-title">Liên hệ</h2>
                        <div class="bread-crumb"><a asp-action="Index">TRANG CHỦ</a> / Liên hệ</div>
                    </div>
                </div>
            </div>
        </section>    
        <!-- Banner End -->

        <!-- History Section Start -->
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <h3 class="sec-title">Our Store</h3>
                        <div class="info-contact">
                            <h5>Address: <p> 342 East American Street, New York, USA - 1212</p></h5>
                            <h5>Phone: <p> +1 (817) 234 - 234</p></h5>
                            <h5>Email: <p> info@store.com</p></h5>
                            <h5>Social: 
                                <a href="#"><i class="twi-facebook"></i></a>
                                <a href="#"><i class="twi-twitter-square"></i></a>
                                <a href="#"><i class="twi-pinterest-square"></i></a>
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="contact-thumb">
                            <img src="../assets/images/contact.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row mar-top-bottom">
                    <div class="col-lg-12">
                        <div class="map grayscale">
                            <iframe src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;coord=39.966528,-75.158284&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=p&amp;z=16&amp;iwloc=B&amp;output=embed"  scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="sec-title">Get In Touch With Us</h2>
                        <p class="sec-desc">
                            Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia<br> voluptas sit aspernatur aut 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-form text-center">
                            <form action="#" method="post" id="contact-form" class="row">
                                <div class="col-lg-4 col-md-4">
                                    <input type="text" name="con_name" class="required" placeholder="Enter your name">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <input type="email" name="con_email" class="required" placeholder="Your Email">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <input type="text" name="con_subject" placeholder="Subject">
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <textarea name="con_message" class="required" placeholder="Your message here"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn">Shoot</button>
                                    <img src="../assets/images/ajax.gif" alt="" class="loader"/>
                                    <div class="con_message"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History Section End -->

